* {
    margin: 0;
    padding: 0;
    font-family: "Roboto";
}

.icon {
    height: 25px;
    width: auto;
}

.userImage {
    height: 50px;
    width: auto;
    border-radius: 50%;
}

.userName {
    font-size: 18px;
    font-weight: bold;
}

.greetings {
    font-size: 12px;
    padding-bottom: 10px;
    font-weight: bold;
}

.userNameAndTag {
    font-size: 25px;
    font-weight: bold;
}

.main {
    height: 70px;
    width: auto;
    border-radius: 50%;
}

.frontPage {
    height: 100vh;
}

.header {
    padding: 20px 60px;
    grid-column: 2 / 4;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 2fr;
    position: relative;
}

.searchBar {
    display: grid;
    grid-template-columns: 40px auto;
    align-items: center;
}

input {
    background-color: #e5e7eb;
    border: none;
    border-radius: 15px;
    font-size: medium;
    padding: 4px 8px;
}

.profileBar {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 30px;
    align-items: center;
    justify-content: end;
}

.welcomeBar {
    display: grid;
    grid-template-columns: 100px 1fr;
    align-items: center;
}


.mainButtons {
    display: grid;
    align-items: center;
    gap: 40px;
    justify-content: end;
    
}

button {
    background-color: #60a5fa;
    border: none;
    height: 40px;
    width: 100px;
    border-radius: 20px;
    color: white;
    font-size: 15px;
    font-weight: bold;
}

.userImage {
    justify-self: center;
}

.mainContent {
    display: grid;
    grid-template-columns: 3fr 2fr;
    background-color: #e5e7eb;
}

.noticias {
    display: grid;
    grid-template-rows: auto 1fr;
    padding-bottom: 40px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 40px;
}

#noticia {
    background-color: white;
    border-radius: 6px;
    box-shadow: 5px 5px 5px rgba(189, 195, 199, 0.5);
    padding: 20px;
    margin: 20px;
    margin-left: 0px;
}

.projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.card {
    background-color: white;
    border-radius: 6px;
    padding: 30px 20px;
    border-left:6px solid #fdba74;
    display: grid;
    grid-template-rows: 1fr 20px;
    gap: 20px;
}

.card, .header {
    box-shadow: 5px 5px 5px rgba(189, 195, 199, 0.5);
}

.cardTitle {
    font-size: medium;
    font-weight: bold;
    padding-bottom: 5px;
}

.cardContent {
    color: gray;
}

.author {
    justify-self: end;
}

.contentTitle {
    font-size: large;
    font-weight: bold;
    padding-bottom: 15px;
}

a .tooltiptext {
    visibility: hidden;
    width: 200px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
  
    position: absolute;
    z-index: 1;
  }
  
a:hover .tooltiptext {
    visibility: visible;
  }